.row{
    border: solid 1px red;
    background-color: aqua;
    padding: 10px;
}
.menu{
    
}

main{
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
    color: aliceblue;
}